iframe {
  height: 100%;
  width: 100%;
  border: 0;
}

.tabs {
  flex: 1 1 300px ;
  position: relative;
  padding-left: 0;
  display: flex;
  list-style: none;
}

.tab {
  height: 100%
}

.tabs .tab>input {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.tabs .tab>label {
  display: block;
  padding: 6px 21px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  color: #FFF;
  background: #303030;
}

.tabs>.tab>[id^="tab"]:checked + label {
  top: 0;
  background: #4A83FD;
  color: #F5F5F5;
}

.tabs .content {
  height: 100%;
  z-index: 0;/* or display: none; */
  position: absolute;
  left: 0;
  opacity:0;
  transition: opacity 400ms ease-out;
  border: 1px solid black;
  width: 100%;
}

.tabs>.tab>[id^="tab"]:checked ~ [id^="tab-content"] {
  z-index: 1;/* or display: block; */
  opacity: 1;
  transition: opacity 400ms ease-out;
}
