<div class="card mb-3">
  <div class="card-body">
    <form>
      <div class="row">
        <label for="pet-name" class="col-xs-3 col-sm-auto col-form-label">Name</label>
        <div class="col-xs-3 col-sm-auto">
          <input
            id="pet-name"
            type="text"
            class="form-control"
            name="petName"
            [ngModel]="petName()" (ngModelChange)="petName.set($event)"
          />
        </div>
        <div class="col-xs-3 col-sm-auto mt-2 mt-sm-0">
          <button class="btn btn-secondary w-100 w-sm-auto"  (click)="create()">Create a pet</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <form>
      <div class="mb-3 row">
        <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
        <div class="col-xs-3 col-sm-auto">
          <input
            id="table-complete-search"
            type="text"
            class="form-control"
            name="searchTerm"
            [ngModel]="searchTerm()" (ngModelChange)="searchTerm.set($event)"
          />
        </div>
        <div class="col-xs-3 col-sm-auto text-center">
          <div class="spinner-border mt-3 mt-sm-auto" role="status" *ngIf="isLoading()">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="text-danger" *ngIf="hasErrors()">
            Failed to load the list <button class="btn btn-md btn-danger" (click)="reload()">Retry</button>
          </div>
        </div>
      </div>
      <div class="table-container scroll-container">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Tags</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let pet of displayedPets()">
            <th scope="row">{{ pet.id }}</th>
            <td>
              <ngb-highlight [result]="pet.name" [term]="searchTerm()"></ngb-highlight>
            </td>
            <td>
              <ngb-highlight [result]="pet.category?.name" [term]="searchTerm()"></ngb-highlight>
            </td>
            <td>
              <ngb-highlight [result]="getTags(pet)" [term]="searchTerm()"></ngb-highlight>
            </td>
            <td><button class="btn btn-danger btn-sm" title="Delete" (click)="delete(pet)"><i class="bi bi-trash"></i></button></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="scroll-container">
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination
            [collectionSize]="totalPetsAmount()"
            [page]="currentPage()" (pageChange)="currentPage.set($event)"
            [pageSize]="pageSize()"
            [maxSize]="10"
          ></ngb-pagination>

          <select class="form-select w-auto" name="pageSize" [ngModel]="pageSize()" (ngModelChange)="pageSize.set($event)">
            <option [ngValue]="10">10 items per page</option>
            <option [ngValue]="50">50 items per page</option>
            <option [ngValue]="100">100 items per page</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>
