:host {
  display: flex;
  flex-direction: column;

  &:not(:has(.constrained)) {
    height: 100% !important;
  }

  .vertical-button {
    transform: rotate(270deg);
    text-align: center;
    border-radius: var(--df-border-radius) var(--df-border-radius) 0 0;
    top: 50%;
    right: -40px;
    height: 40px;
    width: 120px;
    position: absolute;
  }
}
