@if (steps()[currentStepIndex()]; as currentStep){
  <div class="mt-5 mb-3 d-flex justify-content-between align-items-center gap-3 flex-wrap">
    <h1 class="m-0 flex-grow-1">{{title()}}</h1>
    <div class="d-flex gap-3">
      @if (currentStep.dynamicContent.project() || currentStep.dynamicContent.solutionProject()) {
        <button type="button" class="btn btn-outline-danger"
                (click)="toggleDisplaySolution()"
                [disabled]="!showSolution() && !currentStep.dynamicContent.solutionProject() || showSolution() && !currentStep.dynamicContent.project()"
        >
          {{showSolution() ? 'Show exercise' : 'Show solution'}}
        </button>
      }
    </div>
    <div class="d-flex gap-3">
      <div ngbDropdown>
        <button type="button" class="btn btn-outline-primary" id="training-exercise-selection" ngbDropdownToggle>
          {{currentStep.description.title}}
        </button>
        <div ngbDropdownMenu aria-labelledby="training-exercise-selection">
          @for (label of stepNames(); track label; let id = $index) {
            <button type="button" ngbDropdownItem class="dropdown-item" [class.active]="id === currentStepIndex()" (click)="setCurrentStep(id)">
              {{label}}
            </button>
          }
        </div>
      </div>
      <button type="button" class="btn btn-outline-secondary df-btn-icononly fa-chevron-left" [disabled]="currentStepIndex() <= 0"
              aria-label="Previous step" (click)="setCurrentStep(currentStepIndex() - 1)"></button>
      <button type="button" class="btn btn-outline-secondary df-btn-icononly fa-chevron-right" [disabled]="currentStepIndex() >= steps().length - 1"
              aria-label="Next step" (click)="setCurrentStep(currentStepIndex() + 1)"></button>
    </div>
  </div>
  <o3r-training-step-pres
    class="flex-fill overflow-hidden mb-5"
    [class.constrained]="!!(currentStep.dynamicContent.solutionProject() || currentStep.dynamicContent.project())"
    [instructions]="currentStep.dynamicContent.htmlContent()"
    [title]="currentStep.description.title"
    [project]="showSolution() ? currentStep.dynamicContent.solutionProject() : currentStep.dynamicContent.project()"
    [editorMode]="currentStep.description.filesConfiguration?.mode">
  </o3r-training-step-pres>
}
