@if (steps()[currentStepIndex()]; as currentStep){
  <div class="mt-7 mb-3 d-flex justify-content-between">
    <div class="align-self-center">
      <h1 class="m-0">{{title()}}</h1>
      <div ngbDropdown class="mt-2">
        <button type="button" class="btn btn-outline-primary" id="training-exercise-selection" ngbDropdownToggle>
          {{currentStep.description.title}}
        </button>
        <div ngbDropdownMenu aria-labelledby="training-exercise-selection">
          @for (label of stepNames(); track label; let id = $index) {
            <button type="button" ngbDropdownItem class="dropdown-item" [class.active]="id === currentStepIndex()" (click)="setCurrentStep(id)">
              {{label}}
            </button>
          }
        </div>
      </div>
    </div>
    <div class="align-self-center d-flex flex-wrap">
      @if (currentStep.dynamicContent.project() || currentStep.dynamicContent.solutionProject()) {
        <button type="button" class="btn btn-outline-primary mb-2 mb-md-0 me-5" (click)="toggleDisplayInstructions()">
          {{showInstructions() ? 'Hide instructions' : 'Show instructions'}}
        </button>
        <button type="button" class="btn btn-outline-danger mb-2 mb-md-0 me-5"
                (click)="toggleDisplaySolution()"
                [disabled]="!showSolution() && !currentStep.dynamicContent.solutionProject() || showSolution() && !currentStep.dynamicContent.project()"
        >
          {{showSolution() ? 'Show exercise' : 'Show solution'}}
        </button>
      }
      <div>
        <button type="button" class="btn btn-outline-secondary df-btn-icononly fa-chevron-left me-2" [disabled]="currentStepIndex() <= 0"
                aria-label="Previous step" (click)="setCurrentStep(currentStepIndex() - 1)"></button>
        <button type="button" class="btn btn-outline-secondary df-btn-icononly fa-chevron-right ms-2" [disabled]="currentStepIndex() >= steps().length - 1"
                aria-label="Next step" (click)="setCurrentStep(currentStepIndex() + 1)"></button>
      </div>
    </div>
  </div>
  <o3r-training-step-pres
    class="flex-fill overflow-hidden mb-5"
    [class.constrained]="!!(currentStep.dynamicContent.solutionProject() || currentStep.dynamicContent.project())"
    [instructions]="showInstructions() ? currentStep.dynamicContent.htmlContent() : ''"
    [title]="currentStep.description.title"
    [project]="showSolution() ? currentStep.dynamicContent.solutionProject() : currentStep.dynamicContent.project()"
    [editorMode]="currentStep.description.filesConfiguration?.mode">
  </o3r-training-step-pres>
}
