$ama-highlight: (
  50: #E0F5FB,
  100: #B3E5F6,
  200: #80D4F0,
  300: #4DC3E9,
  400: #26B6E5,
  500: #00A9E0,
  600: #00A2DC,
  700: #0098D8,
  800: #008FD3,
  900: #007ECB,
  A100: #F3FAFF,
  A200: #C0E4FF,
  A400: #8DCEFF,
  A700: #74C3FF,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #FFFFFF,
    600: #FFFFFF,
    700: #FFFFFF,
    800: #FFFFFF,
    900: #FFFFFF,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);

$ama-accent: (
  50: #F9E0EB,
  100: #F0B3CD,
  200: #E780AC,
  300: #DD4D8A,
  400: #D52671,
  500: #CE0058,
  600: #C90050,
  700: #C20047,
  800: #BC003D,
  900: #B0002D,
  A100: #FFDAE0,
  A200: #FFA7B7,
  A400: #FF748D,
  A700: #FF5A78,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #FFFFFF,
    400: #FFFFFF,
    500: #FFFFFF,
    600: #FFFFFF,
    700: #FFFFFF,
    800: #FFFFFF,
    900: #FFFFFF,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);

$ama-primary: (
  50: #E0ECF6,
  100: #B3CFEA,
  200: #80AFDC,
  300: #4D8ECD,
  400: #2676C3,
  500: #005EB8,
  600: #0056B1,
  700: #004CA8,
  800: #0042A0,
  900: #003191,
  A100: #BDCEFF,
  A200: #8AA8FF,
  A400: #5782FF,
  A700: #3D6FFF,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #FFFFFF,
    500: #FFFFFF,
    600: #FFFFFF,
    700: #FFFFFF,
    800: #FFFFFF,
    900: #FFFFFF,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #FFFFFF,
  )
);

$ama-warn: (
  50: #FCEAE5,
  100: #F8CBBE,
  200: #F4A993,
  300: #F08767,
  400: #EC6D47,
  500: #E95326,
  600: #E64C22,
  700: #E3421C,
  800: #DF3917,
  900: #D9290D,
  A100: #FFFFFF,
  A200: #FFD7D2,
  A400: #FFA99F,
  A700: #FF9285,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #FFFFFF,
    600: #FFFFFF,
    700: #FFFFFF,
    800: #FFFFFF,
    900: #FFFFFF,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);
