# Default reviewers for all changes
* @AmadeusITGroup/otter_admins

# TODO: uncomment the following lines when https://github.com/orgs/community/discussions/29982 is solved

## Default reviewers for VSCode style extractor
# /apps/vscode-extension/src/commands/extract/styling/ @JasonHaenlinAmadeus @RubenHouri

## Default reviewers for Anayltics build metrics webpack plugin
# /packages/@o3r/analytics/plugins/webpack/build-metrics @rglearns

# Default reviewers for CMS Plugin JSON Schemas
/packages/@o3r/application/schemas/ @AmadeusITGroup/otter_cms
/packages/@o3r/localization/schemas/ @AmadeusITGroup/otter_cms
/packages/@o3r/configuration/schemas/ @AmadeusITGroup/otter_cms
/packages/@o3r/components/schemas/ @AmadeusITGroup/otter_cms
/packages/@o3r/dynamic-content/schemas/ @AmadeusITGroup/otter_cms
/packages/@o3r/extractors/schemas/ @AmadeusITGroup/otter_cms
/packages/@o3r/rules-engine/schemas/ @AmadeusITGroup/otter_cms

# Default reviewers for Intellij extension
/apps/intellij-extension/ @OxyFlax
/apps/intellij-extension/build.gradle.kts @AmadeusITGroup/otter_admins
