**/node_modules/**
.cache/**
.yarn/**
dist/
test/
tmp/
generated-doc/
/{packages,apps}/@*/*/dist*/**
/packages/@*/*/**/templates/**
/apps/*/**/templates/**
/.pnp.js
/.vscode
/tools/github-actions/*/packaged-action/
/**/src/**/package.json
!/.yarnrc.yml
# TODO uncomment when migration to eslint v9.3 is completed
/apps/vscode-extension/package.json
/apps/vscode-extension/src/**/*.ts
