* text eol=lf

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.jar binary
*.ico binary

# Ignore Packaged Github Actions from the repository language detection
tools/github-actions/*/packaged-action/** linguist-vendored
.yarn/** linguist-vendored
*.jar linguist-vendored
