@if (isComponentSelectionAvailable$ | async) {
  <div class="d-flex p-2 border-bottom align-items-center gap-2">
    <i (click)="toggleInspector()" class="fa-external-link-square" [class.text-primary]="inspectorRunning"></i>
    @if ((isLookingToContainer$ | async) || (selectedComponentInfo$ | async)?.container) {
      <button class="btn btn-primary" (click)="toggleContainerPresenter()">
        Switch to {{(isLookingToContainer$ | async) ? 'Presenter' : 'Container'}}
      </button>
    }
  </div>
  @if (selectedComponentInfo$ | async; as selectedComponentInfo) {
    <app-otter-component
      [config]="config$ | async"
      [rulesetExecutions]="rulesetExecutions$ | async"
      [componentName]="selectedComponentInfo.componentName"
      [translations]="selectedComponentInfo.translations"
      [analytics]="selectedComponentInfo.analytics">
    </app-otter-component>
  } @else {
    <h3>No selected component</h3>
  }
} @else {
  <h3>Component selection not available in production mode</h3>
}
