<div class="h-100">
  <as-split direction="horizontal">
    @if (instructions) {
      <as-split-area [size]="50">
        <div class="instructions h-100 overflow-auto">
          <h2>{{title}}</h2>
          <markdown clipboard [data]="instructions"></markdown>
        </div>
      </as-split-area>
    }
    @if (project) {
      <as-split-area [size]="50">
        <div class="h-100 overflow-hidden">
          <code-editor-view
            [project]="project"
            [editorMode]="editorMode"
          ></code-editor-view>
        </div>
      </as-split-area>
    }
  </as-split>
</div>
