<div class="row mb-3 border-between ">
  @if (showInstructions) {
  <div class="col border-end overflow-y-auto" >
    <ng-content select=".step-instructions" />
  </div>
  }
  <div class="col sticky-example" >
    <ng-content select=".step-example" />
    <hr>
    <ng-content select=".step-component"/>
    @if (project) {
      <code-editor-view
        [project]="project"
        [editorMode]="editorMode"
        [showInstructions]="showInstructions"
      ></code-editor-view>
    }
  </div>
</div>
