<o3r-sdk-training-step-pres>
  <ng-container class="step-instructions">
    <h1>Generate an SDK from specifications</h1>
    <h2>Environment</h2>
    <p>To get started, your environment requires:</p>
    <ul>
      <li><a href="https://nodejs.org/en/learn/getting-started/how-to-install-nodejs">Node</a> (version 18.0.0 or above - minimum required version according to the <a href="https://github.com/AmadeusITGroup/otter/blob/main/packages/%40ama-sdk/schematics/package.json">&#64;ama-sdk/schematics package</a>)</li>
      <li><a href="https://adoptium.net/">Java</a> (version 11 or above - minimum required version according to <a href="https://github.com/OpenAPITools/openapi-generator">OpenAPI Generator</a>)</li>
    </ul>
    <i class="bi bi-filetype-java"></i>

    <h2>Setup</h2>
    <p>There are two possibilities to generate an SDK:</p>

    <h3>1. Create a new single SDK repository</h3>
    <p>You can use the following command line:</p>
    <o3r-copy-text-pres [wrap]="true" language="bash" text="yarn create @ama-sdk typescript <project-name> -- [--spec-path=./path/to/spec.yaml]"></o3r-copy-text-pres>
    <p>
      Note, you can replace <b><code>yarn</code></b> by <b><code>npm</code></b> if wanted.
    </p>
    <!-- <o3r-copy-text-pres [wrap]="true" language="bash" text="yarn create @ama-sdk typescript <project-name> [--spec-path=./path/to/spec.yaml]"></o3r-copy-text-pres> -->

    <h3>2. Create a new Otter workspace package in an existing monorepo</h3>
    <p>This requires the schematics packages:</p>
    <o3r-copy-text-pres language="bash" text="yarn ng add @ama-sdk/schematics&#10;yarn ng add @ama-sdk/core"></o3r-copy-text-pres>
    <p>You can then generate the "shell" of the SDK package with the following command:</p>
    <o3r-copy-text-pres language="bash"
        text="# Monorepo with Otter&#10;yarn ng g sdk sdkName&#10;&#10;# Monorepo without Otter&#10;yarn schematics &#64;o3r/workspace:sdk sdkName">
    </o3r-copy-text-pres>

  </ng-container>

  <ng-container class="step-example">
    <h1>Example</h1>
    <h2>Generating an example SDK repository</h2>
    <p>
      Navigate to the folder where you would like to generate the SDK and then execute:
    </p>
    <o3r-copy-text-pres [wrap]="true" language="bash" text="yarn create @ama-sdk typescript training-sdk"></o3r-copy-text-pres>
    <p>
      You will a receive a prompt asking you to specify the project name:
    </p>
    <o3r-copy-text-pres [wrap]="true" language="bash" text="? Project name (NPM package scope, package.json name will be @{projectName}/{packageName})?"></o3r-copy-text-pres>
    <p>
      After setting the project name (for example, <b><code>training-project</code></b>), you will see the shell of your SDK repository being generated.
      This shell won't contain the specification file since we did not pass it as a parameter to the command, so it must be created manually.
      Create a specification file (for example, <b><code>openapi.yaml</code></b>) with all your API specifications, and update the <b><code>inputSpec</code></b>
      property of <b><code>openapitools.json</code></b> with the path towards your file.
    </p>
    <p>
      If you have an existing specification file, you have the option to pass the parameter <b><code>--spec-path [path to your openapi file]</code></b> which will
      add your specification file to the repository.
    </p>
    <h2>More information</h2>
    <p>You will find more information on how to write OpenAPI specification in the <a href="https://swagger.io/specification/">documentation provided by Swagger</a>.</p>
    <p>
      Once your specification file is ready to be generated (and the <b><code>openapitools.json</code></b> file up-to-date), you can run:
    </p>
    <o3r-copy-text-pres [wrap]="true" language="bash" text="yarn spec:upgrade"></o3r-copy-text-pres>
    <p>You can now notice that the <b>api</b> and <b>models/base</b> folders have been updated with the paths and definitions from your specification file.</p>
  </ng-container>
</o3r-sdk-training-step-pres>
