hr:last-child, hr:first-child {
  display: none;
}

.d-flex {
  padding: .25rem 1rem .25rem .25rem;
  margin-bottom: 1rem;
}

.btn {
  margin-top: 0.25rem;
}

pre {
  margin-bottom: 0;
}

.hljs {
  background: none;
}