<div class="mt-7 d-flex justify-content-between">
  <div class="align-self-center">
    <h1 class="m-0">SDK Training</h1>
  </div>
  <div class="align-self-center">
    @if (steps[currentStep].dynamicContent.project()) {
      <button type="button" class="btn btn-outline-primary mb-2 mb-md-0 me-5" (click)="updateDisplayInstructions()">
        {{showInstructions ? 'Hide instructions' : 'Show instructions'}}
      </button>
      @if (steps[currentStep].dynamicContent.solutionProject()) {
        <button type="button" class="btn btn-outline-danger mb-2 mb-md-0 me-5" (click)="updateDisplaySolution()">
          {{showSolution ? 'Hide solution' : 'Show solution'}}
        </button>
      }
    }
<!--    <button type="button" class="btn btn-outline-secondary icon-chevron-left" [disabled]="!previousStep"-->
    <button type="button" class="btn btn-outline-secondary df-btn-icononly fa-chevron-left me-2" [disabled]="!previousStep"
            (click)="setCurrentStep(currentStep - 1)"></button>
    <button type="button" class="btn btn-outline-secondary df-btn-icononly fa-chevron-right ms-2" [disabled]="!nextStep"
            (click)="setCurrentStep(currentStep + 1)"></button>
  </div>
</div>
<!--  class="flex-fill overflow-hidden"-->
<o3r-training-step-pres
  class="flex-fill overflow-hidden mb-5"
  [project]="showSolution === true ? steps[currentStep].dynamicContent.solutionProject() : steps[currentStep].dynamicContent.project()"
  [editorMode]="steps[currentStep].description.filesConfiguration?.mode">
  @if (showInstructions) {
    <div [innerHtml]="steps[currentStep].dynamicContent.htmlContent()"></div>
  }
</o3r-training-step-pres>
