<div class="mt-7 d-flex justify-content-between">
  <div class="align-self-center">
    <h1 class="m-0">SDK Training</h1>
  </div>
  <div class="align-self-center">
    <button type="button" class="btn btn-outline-secondary icon-chevron-left" [disabled]="!previousStep"
            (click)="goToPreviousStep()"></button>
    <button type="button" class="btn btn-outline-secondary icon-chevron-right" [disabled]="!nextStep"
            (click)="goToNextStep()"></button>
  </div>
</div>
<div [innerHtml]="steps[currentStep]!.htmlExample()"></div>

<o3r-sdk-training-step-pres>
  <ng-container class="step-instructions">
    <div [innerHtml]="steps[currentStep]!.htmlContent()"></div>
  </ng-container>

  <ng-container class="step-example">
    <div [innerHtml]="steps[currentStep]!.htmlExample()"></div>
  </ng-container>
</o3r-sdk-training-step-pres>

