@use './style/design-factory-custom' as design-factory with (
  $prefix: bs-,
  $df-spinner-circumference: 2rem,
  $font-path: '@design-factory/design-factory/assets/fonts',
  $utilities-bg: ()
);
@import "highlight.js/styles/github.css";
@import "./style/theme.scss";

code {
  font-family: 'Consolas', monospace;
}

header {
  font-family: design-factory.$headings-font-family;
}

h1 {
  margin-top: 2rem;
}

h1, h2 {
  scroll-margin-top: 5rem;
}

.right-nav {
  top: 6rem;
  max-height: calc(100vh - 6rem);
  overflow-y: auto;
  flex-grow: 1;
  margin-top: -1rem;
  z-index: inherit;
}

.hljs-built_in, .hljs-symbol {
  color: #cb3544;
}
.hljs-name, .hljs-quote, .hljs-selector-tag, .hljs-selector-pseudo {
  color: #1f7e36;
}

// Start overrides of design factory
.navbar {
  box-shadow: none;
}
// End overrides
