@use '@design-factory/styles/bundle.css';
@forward './style/theme.scss';

:root {
  --o3r-header-zindex: 1021;
}

code {
  font-size: inherit;
}

header {
  font-family: var(--df-body-font-family);
}

h1 {
  margin-top: 2rem;
}

h1, h2 {
  scroll-margin-top: 5rem;
}

.right-nav {
  top: 6rem;
  max-height: calc(100vh - 6rem);
  overflow-y: auto;
  flex-grow: 1;
  margin-top: -1rem;
  z-index: inherit;
}

.markdown-clipboard-toolbar button {
  width: 1.85em;
  height: 1.85em;
}

// Start overrides of design factory
.navbar {
  box-shadow: none;
}
// End overrides
