<div class="p-3">
  <h3 class="row card-text mt-auto ms-1 h5">Emergency Contact Information</h3>
  <form>
    <div class="row mb-3">
      <div class="input-group">
        <label class="input-group-text w-50" for="name">Name</label>
        <input class="form-control" [formField]="formTree.name" [id]="'name'">
      </div>
      @if (formTree.name().touched() && formTree.name().dirty()) {
        <ng-container>
          <div class="row mb-3">
            @if (formTree.name().getError('required')) {
              <div class="text-danger">{{translations.nameRequired | o3rTranslate}}</div>
            }
          </div>
        </ng-container>
      }
    </div>
    <div class="row mb-3">
      <div class="input-group">
        <label class="input-group-text w-50" for="phone">Phone Number</label>
        <input class="form-control" [formField]="formTree.phone" [id]="'phone'">
      </div>
      @if (formTree.phone().touched() && formTree.phone().dirty()) {
        <ng-container>
          <div class="row mb-3">
            @if (formTree.phone().getError('required')) {
              <div class="text-danger">{{translations.phoneRequired | o3rTranslate}}</div>
            }
            @if (formTree.phone().getError('pattern')) {
              <div class="text-danger">{{translations.phonePattern | o3rTranslate}}</div>
            }
          </div>
        </ng-container>
      }
    </div>
    <div class="row mb-3">
      <div class="input-group">
        <label class="input-group-text w-50" for="email">Email address</label>
        <input class="form-control" [formField]="formTree.email" [id]="'email'">
      </div>
    </div>
    @if (formTree.email().touched() && formTree.email().dirty()) {
      <ng-container>
        <div class="row mb-3">
          @if (formTree.email().getError('email')) {
            <div class="text-danger">{{translations.emailPatternLong | o3rTranslate}}</div>
          }
        </div>
      </ng-container>
    }
  </form>
  <div class="row mb-3">
    @if (formTree().errors().length > 0) {
      <div class="text-danger">Global validator: {{formTree().errors() | json}}</div>
    }
  </div>
  <div class="m-auto pb-3">
    <button type="button" class="btn btn-outline-primary" id="btn-submit" (click)="submitForm()">Submit Emergency Contact Information</button>
  </div>
</div>
