@use '@angular/material' as mat;
@use '@o3r/styling/otter-theme' as otter-theme;

// Generate Material Design Theme
$meta-theme: otter-theme.generate-otter-theme() !default;

// Convert Meta theme to Otter
$theme: otter-theme.meta-theme-to-otter($meta-theme) !default;

// Convert Meta theme to Material Design Theme
$mat-theme: otter-theme.meta-theme-to-material($meta-theme) !default;

// Typography for material theming
$typography: mat.define-typography-config() !default;
