<div class="p-3">
  <h3 class="row card-text mt-auto ms-1 h5">Personal Information</h3>
  <form>
    <div class="row mb-3">
      <div class="input-group">
        <label class="input-group-text w-50" for="name">Name</label>
        <input class="form-control" [formField]="formTree.name" [id]="'name'">
      </div>
      @if (formTree.name().touched() && formTree.name().dirty()) {
        <ng-container>
          <div class="row mb-3">
            @if (formTree.name().getError('required')) {
              <div class="text-danger">{{translations.required | o3rTranslate}}</div>
            }
            @if (formTree.name().getError('maxLength'); as maxLengthError) {
              <div class="text-danger">{{translations.maxLength | o3rTranslate: {maxLength: maxLengthError['maxLength']} }}</div>
            }
          </div>
        </ng-container>
      }
    </div>
    <div class="row mb-3">
      <o3r-date-picker-input-pres [label]="'Date of birth'" [id]="'dateOfBirth'" [formField]="formTree.dateOfBirth" />
    </div>
    <div class="row mb-3">
      @if (formTree.dateOfBirth().getError('date')) {
        <div class="text-danger">{{translations.date | o3rTranslate}}</div>
      }
      @if (formTree.dateOfBirth().getError('max'); as maxError) {
        <div class="text-danger">{{translations.max | o3rTranslate: {max: maxError['max']} }}</div>
      }
      @for (error of getCustomErrors(formTree.dateOfBirth); track $index) {
        <div class="text-danger">{{error.translationKey | o3rTranslate: error.translationParams}}</div>
      }
    </div>
  </form>
  <div class="row mb-3">
    @if (formTree().errors().length > 0) {
      <div class="text-danger">Global validator: {{formTree().errors() | json}}</div>
    }
  </div>
  <div class="m-auto pb-3">
    <button type="button" class="btn btn-outline-primary" id="btn-submit" (click)="submitForm()">Submit Personal Information</button>
  </div>
</div>
