:host {
  background: #1d1d1d;
}

.monaco-tree {
  overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI, HelveticaNeue-dark, Ubuntu, Droid Sans, sans-serif;
}

.monaco-tree.vs-dark {
  background: #1d1d1d;
  color: white;
}

.monaco-tree.vs-light {
  background: rgb(243, 243, 243);
  color: rgb(97, 97, 97);
}
