<form class="mb-2" [formGroup]="form">
  <div class="mb-2 d-flex gap-4">
    <div class="d-flex align-items-center gap-4">
      <div class="input-group" [style.maxWidth]="'300px'">
        <label class="input-group-text" for="language">Language</label>
        <select class="form-select" id="language" formControlName="lang" [attr.aria-describedby]="hasSeveralLanguages() ? 'language-hint' : null">
          @for (lang of languages(); track lang) {
            <option [value]="lang">{{ lang }}</option>
          }
        </select>
        @if (!hasSeveralLanguages()) {
          <div id="language-hint" class="form-text text-warning w-100">
            You have only one language.
          </div>
        }
      </div>
      <div class="d-flex flex-column gap-2">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" formControlName="showKeys" id="displayLocalizationKey" [attr.aria-describedby]="isTranslationDeactivationEnabled() ? null : 'show-keys-hint'">
          <label class="form-check-label text-nowrap" for="displayLocalizationKey">
            Display localization keys
          </label>
        </div>
        @if (!isTranslationDeactivationEnabled()) {
          <div id="show-keys-hint" class="text-warning" [style.fontSize]="'.5em'" [style.marginLeft]="'-2.5em'">
            Translation deactivation is not enabled. Please set the LocalizationConfiguration property "enableTranslationDeactivation" accordingly.
          </div>
        }
      </div>
    </div>
    @if (hasLocalizations()) {
      <button (click)="resetChange()" type="button" class="btn btn-outline-danger ms-auto">
        Reset change for {{ form.controls.lang.value }}
      </button>
    }
  </div>
  @if (hasLocalizations()) {
    <div class="mb-2 input-group">
      <label class="input-group-text" for="search-localization">
        <i class="mx-1 fa-search" aria-label="Search"></i>
      </label>
      <input class="form-control" formControlName="search" type="text" id="search-localization" placeholder="Search for localization" />
    </div>
  }
  @if (hasLocalizations()) {
    <ng-container formGroupName="translations">
      <div ngbAccordion [closeOthers]="true" #acc="ngbAccordion">
        @for (localization of filteredLocalizations(); track localization.key) {
          <div ngbAccordionItem>
            <h3 ngbAccordionHeader>
              <button ngbAccordionButton>{{localization.key}}</button>
            </h3>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <div class="form-group">
                    <div class="d-flex gap-4 align-items-center position-relative">
                      <ng-container [formGroupName]="form.value.lang">
                        <input [attr.aria-describedby]="localization.key" class="form-control" type="text" [formControlName]="localization.key" />
                      </ng-container>
                      @if (localizationActiveStateOverridesForCurrentLang()[localization.key] || localizationLocalStateOverridesForCurrentLang()[localization.key]) {
                        @let text = activeStateName() && localizationActiveStateOverridesForCurrentLang()[localization.key] !== localizationLocalStateOverridesForCurrentLang()[localization.key]
                          ? 'Reset value to the one from ' + activeStateName() + ': ' + (localizationActiveStateOverridesForCurrentLang()[localization.key] || localization.value)
                          : 'Reset value to the default one from metadata: ' + localization.value;
                        <button class="btn btn-outline-primary df-btn-icononly df-btn-tertiary form-text text-warning fa-undo position-absolute end-0 me-3"
                          [attr.aria-label]="text"
                          (click)="onLocalizationReset(localization)"></button>
                      }
                    </div>
                    <div [id]="localization.key" class="form-text">{{localization.description}}</div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        } @empty {
          <h3>No localization found for your search.</h3>
        }
        @if (isTruncated()) {
          <span>Too many matches for this filter, please be more specific in your search.</span>
        }
      </div>
    </ng-container>
  } @else {
    <h3>No metadata provided for localization.</h3>
    <p>
      To provide metadata you can read the following
      <a href="https://github.com/AmadeusITGroup/otter/blob/main/docs/dev-tools/chrome-devtools.md#how-to-enable-more-features-by-providing-metadata-files" target="_blank" rel="noopener">
        documentation
      </a>
    </p>
  }
</form>
