@use '../styling/variables' as variables;

$border-action-panel: 1px solid #999999;
$tree-line: 1px dashed;
$tree-radius: .2rem;

o3r-rule-tree-pres {
  display: block;
  padding-bottom: 1rem;

  .rule-sub-trees {
    display: flex;
  }

  .rule-conditions-title,
  .rule-action-title {
    text-align: center;
  }

  .rule-conditions-title {
    border: $border-action-panel;
    background: white;
    color: black;
    padding: .2rem;
  }

  .rule-action-title {
    background: white;
    border-radius: 0;
    border: $border-action-panel;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .rule-tree-actions {
    display: block;
    padding: .5rem;
  }

  .rule-actions {
    &:first-child {
      > .rule-action-title {
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
      }
    }

    &:last-child {
      > .rule-action-title {
        border-top-right-radius: .5rem;
        border-bottom-right-radius: .5rem;
      }
    }
  }

  .rule-actions-wrapper {
    display: flex;

    .rule-actions {
      flex: 1 1 100%;
    }
  }

  .success-actions {
    border-color: variables.$ruleset-success-color;

    &.rule-action-title {
      background: variables.$ruleset-success-color;
      color: white;
    }
  }

  .error-actions {
    border-color: variables.$ruleset-error-color;

    &.rule-action-title {
      background: variables.$ruleset-error-color;
      color: white;
    }
  }
  .tree {
    .tree-leaf ,
    .tree-root {
      display: flex;
      width: 100%;

      > div {
        height: 1rem;
        width: 50%;
      }
    }

    .tree-root div:first-child {
      border-right: $tree-line;
    }

    .tree-root {
      margin-top: .2rem;
    }

    .tree-node > .tree-branch {
      &:last-child > .tree-leaf > div:first-child {
        border-right: $tree-line;
        border-top: $tree-line;
        border-top-right-radius: $tree-radius;
      }

      &:first-child > .tree-leaf > div:last-child {
        border-left: $tree-line;
        border-top: $tree-line;
        border-top-left-radius: $tree-radius;
      }
    }
  }

  .icon {
    cursor: pointer;
  }
}
