// Issue with pnp
// @import "bootstrap/scss/bootstrap";
// @import "bootstrap-icons/font/bootstrap-icons";
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css";
@import "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css";
