<div class="card my-3">
  <div class="row g-0">
    <div class="col-4 bg-body-tertiary d-flex align-items-center justify-center">
      <img src="assets/otter.svg" class="img-fluid rounded-start" aria-hidden="true">
    </div>
    <div class="col-8 container p-3">
      <div class="card-bod d-flex flex-column h-100">
        <div class="row card-title flex-fill d-flex align-items-center m-auto">
          <h2 class="bg-body-tertiary text-secondary border border-light-subtle border-3 bubble py-3 px-5 position-relative">
            @if (form.value.destination) {
              {{ translations.welcomeWithCityName | o3rTranslate: { cityName: (translations.cityName + '.' + form.value.destination) | o3rTranslate }  }}
            } @else {
              {{ translations.welcome | o3rTranslate }}
            }
            <div aria-hidden="true" class="bg-body-tertiary position-absolute start-0 top-50 border border-light-subtle border-3 border-end-0 border-bottom-0"></div>
          </h2>
        </div>
        <h3 class="row card-text mt-auto ms-1 h5">{{ translations.question | o3rTranslate }}</h3>
        <form class="row g-2" [formGroup]="form">
          <div class="col-12 col-xl-6">
            <div class="input-group">
              <label class="input-group-text w-50" for="destination">{{ translations.destinationLabel | o3rTranslate }}</label>
              <select class="form-select" id="destination" formControlName="destination">
                <option disabled selected value>{{ translations.destinationPlaceholder | o3rTranslate }}</option>
                <option value="LON">{{ (translations.cityName + '.LON') | o3rTranslate }}</option>
                <option value="PAR">{{ (translations.cityName + '.PAR') | o3rTranslate }}</option>
                <option value="NYC">{{ (translations.cityName + '.NYC') | o3rTranslate }}</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-xl-6">
            <div class="input-group">
              <label for="date-outbound" class="input-group-text w-50">{{ translations.departureLabel | o3rTranslate }}</label>
              <o3r-date-picker-input-pres [id]="'date-outbound'" class="w-50" formControlName="outboundDate"></o3r-date-picker-input-pres>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
