o3r-sidenav-pres {
  .nav-link {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
  }

  .sub-group {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .nav-group {
    margin-bottom: .25em;
  }
}
