@mixin style {
  h2 {
    div {
      transform: translate(-50%, -50%) rotate(-45deg) ;
      width: 20px;
      height: 20px;
    }
  }

  .card img {
    aspect-ratio: 1 / 1;
    width: 100%;
  }
}

o3r-basic-pres {
  @include style();
}
