@mixin style {

  .bubble {
    border-radius: var(--bs-border-radius-xl);

    div {
      transform: translate(calc(-50% - var(--bs-border-width)/2), -50%) rotate(-45deg) ;
      width: 1em;
      height: 1em;
    }
  }

  .card img {
    aspect-ratio: 1 / 1;
    width: 100%;
  }
}

o3r-basic-pres {
  @include style();
}
