.monaco-tree-context-menu {
    position: absolute;
    font-family: Roboto, sans-serif;
    font-size: 0.8em;
    font-weight: 200;
	border-radius: 5px;

	&.vs-dark {
		background: rgb(29, 29, 29);
		color: white;
		border: 1px solid rgb(49, 49, 49);

		ul {
			li.monaco-tree-separator {
				background: rgb(240, 240, 240);
			}
		}
	}

	&.vs-light {
		background: rgb(243, 243, 243);
		color: rgb(97, 97, 97);
		border: 1px solid rgb(204, 204, 204);

		ul {
			li.monaco-tree-separator {
				background: rgb(66, 66, 66);
			}
		}
	}

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        min-width: 150px;

        li {
            display: flex;
            align-items: center;
            height: 2em;
            margin: 10px 0;
        }

        li.monaco-tree-element {
            padding: 0 12px;
            cursor: pointer;
        }

        li.monaco-tree-element:hover {
            background: rgb(9, 71, 133);
			color: white;
        }

        li.monaco-tree-separator {
            width: 80%;
            margin: 10px auto;
            height: 1px;
        }
    }
}
