code-editor-view {
  display: flex;
  height: calc(100% - 144px);
  flex-direction: column;
  justify-content: stretch;
}

.editor {
  display: flex;
  flex-direction: row;
  flex: auto;
  >div {
    display: flex;
  }
}

monaco-tree {
  max-width: 250px;
  width: 30%;
}

.monaco-editor-wrapper {
  flex-grow: 1;
  min-width: 70%;
}

.monaco-editor-test {
  position: relative;

  .editor-container {
    height: 100% !important;
  }

  > * {
    max-width: 100%;
    max-height: 100% !important;
  }
}

iframe {
  height: 100%;
  width: 100%;
  border: 0;
}

* {
  margin: 0;
  padding: 0;
}

h1, h3{
  text-transform: uppercase;
  font-weight: normal;
}

.tabs {
  flex: 1 1 300px ;
  position: relative;
  padding-left: 0;
  display: flex;
  list-style: none;
}

.tab {
  height: 100%
}

.tabs .tab>input {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.tabs .tab>label {
  display: block;
  padding: 6px 21px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  color: #FFF;
  background: #303030;
}

.tabs>.tab>[id^="tab"]:checked + label {
  top: 0;
  background: #4A83FD;
  color: #F5F5F5;
}

.tabs .content {
  height: 100%;
  z-index: 0;/* or display: none; */
  overflow: hidden;
  position: absolute;
  left: 0;
  opacity:0;
  transition: opacity 400ms ease-out;
  border: 1px solid black;
  width: 100%;
}

.tabs>.tab>[id^="tab"]:checked ~ [id^="tab-content"] {
  z-index: 1;/* or display: block; */
  opacity: 1;
  transition: opacity 400ms ease-out;
}
