@if (cwdTree$ | async; as tree) {
    <as-split direction="vertical">
      <as-split-area [size]="50">
        <form [formGroup]="form" class="editor overflow-hidden h-100">
            <as-split direction="horizontal">
              <as-split-area [size]="25">
                <monaco-tree (clickFile)="onClickFile($event)"
                             [tree]="tree"
                             [currentFile]="project?.startingFile"
                             [width]="'auto'"
                             [height]="'auto'"
                             class="w-100"></monaco-tree>
              </as-split-area>
              <as-split-area [size]="75">
                <ngx-monaco-editor class="h-100 position-relative"
                                   [options]="editorOptions$ | async"
                                   formControlName="code">
                </ngx-monaco-editor>
              </as-split-area>
            </as-split>
        </form>
      </as-split-area>
      @if (editorMode === 'interactive') {
        <as-split-area [size]="50">
          <code-editor-control class="d-flex flex-column h-100" [showOutput]="project?.commands.length > 0 && tree.length > 0"></code-editor-control>
        </as-split-area>
      }
    </as-split>
}
@else {
  <div class="spinner-border" role="status"></div>
}
