.editor {
  min-height: 250px;
}

monaco-tree {
  max-width: 250px;
}

ngx-monaco-editor {
  .editor-container {
    height: 100% !important;
  }

  > * {
    max-width: 100%;
    max-height: 100% !important;
  }
}

code-editor-control {
  min-height: 400px;
}
