<ul ngbNav [(activeId)]="activeId" #nav="ngbNav" class="nav-tabs px-2 pt-2 navbar-light bg-light">
  <li [ngbNavItem]="1" [disabled]="!(config | nbProp)">
    <a ngbNavLink class="d-flex align-items-center gap-1">
      Configuration
      <span class="badge rounded-pill bg-info">
        {{config | nbProp : ['id']}}
      </span>
    </a>
    <ng-template ngbNavContent>
      <ng-container *ngIf="config; else noConfig">
        <h3>{{config.id}}</h3>
        <app-config-form class="config-form mb-2 d-block" [config]="config"></app-config-form>
      </ng-container>
      <ng-template #noConfig>No configuration</ng-template>
    </ng-template>
  </li>
  <li [ngbNavItem]="2" [disabled]="!(rulesetExecutions | nbProp)">
    <a ngbNavLink>
      Rules engine
      <span class="badge rounded-pill bg-info">
        {{rulesetExecutions | nbProp}}
      </span>
    </a>
    <ng-template ngbNavContent>
      <div *ngIf="librariesLinkedToRulesetExecutions.length > 1" class="alert alert-warning" role="alert">
        Warning. {{componentName}} exists in {{librariesLinkedToRulesetExecutions | list}}. Unable to choose one.
      </div>
      <o3r-ruleset-history-pres *ngIf="rulesetExecutions?.length; else noRulesetExecutions" [rulesetExecutions]="rulesetExecutions"></o3r-ruleset-history-pres>
      <ng-template #noRulesetExecutions>No ruleset executions</ng-template>
    </ng-template>
  </li>
  <li [ngbNavItem]="3" [disabled]="!(translations| nbProp)">
    <a ngbNavLink>
      Localization
      <span class="badge rounded-pill bg-info">
        {{translations | nbProp}}
      </span>
    </a>
    <ng-template ngbNavContent>
      <div ngbAccordion *ngIf="translations | nbProp; else noLocalizations" [closeOthers]="true" #acc="ngbAccordion">
        <div ngbAccordionItem *ngFor="let componentTranslations of translations | keyvalue" [id]="componentTranslations.key" [collapsed]="componentName === componentTranslations.key">
          <h3 ngbAccordionHeader>
            {{componentTranslations.key}}<i *ngIf="componentTranslations.key === componentName" class="ms-1 icon-star"></i>
          </h3>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let translation of componentTranslations.value">{{translation}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noLocalizations>No localizations</ng-template>
    </ng-template>
  </li>
  <li [ngbNavItem]="4" [disabled]="!(analytics | nbProp)">
    <a ngbNavLink>
      Analytics
      <span class="badge rounded-pill bg-info">
        {{analytics | nbProp}}
      </span>
    </a>
    <ng-template ngbNavContent>
      <div ngbAccordion *ngIf="analytics | nbProp; else noAnalytics" [closeOthers]="true" #acc="ngbAccordion">
        <div ngbAccordionItem *ngFor="let componentAnalytics of analytics | keyvalue" [id]="componentAnalytics.key"  [collapsed]="componentName === componentAnalytics.key">
          <h3 ngbAccordionHeader>
            {{componentAnalytics.key}}<i *ngIf="componentAnalytics.key === componentName" class="ms-1 icon-star"></i>
          </h3>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let componentAnalytic of componentAnalytics.value">{{componentAnalytic}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noAnalytics>No analytics</ng-template>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2 px-2"></div>
