name: NPM Audit

concurrency:
  group: ci-${{ github.ref }}-audit
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

on:
  workflow_call:
  push:
    branches:
      - main
      - 'release/*'
  pull_request:
    branches:
      - main
      - 'release/*'
  merge_group:
    types: [checks_requested]

permissions:
  contents: read

jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Setup
        uses: ./tools/github-actions/setup
      - name: Audit
        id: audit
        uses: ./tools/github-actions/audit
        with:
          severity: critical
          allWorkspaces: true
          recursive: true
          environment: all
      - name: Summary
        if: success() || failure()
        run: echo "${{ steps.audit.outputs.reportMarkdown }}" >> $GITHUB_STEP_SUMMARY

