name: NPM Audit

concurrency:
  group: ci-${{ github.ref }}-${{ inputs.ref }}-audit
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

on:
  workflow_call:
    inputs:
      ref:
        type: string
        default: ''
        description: The branch, tag or SHA to checkout.
  push:
    branches:
      - main
      - 'release/*'
  pull_request:
  merge_group:
    types: [checks_requested]

permissions:
  contents: read

jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.ref }}
      - name: Setup
        uses: ./tools/github-actions/setup
        timeout-minutes: 30
      - name: Audit
        id: audit
        uses: ./tools/github-actions/audit
        with:
          severity: critical
          allWorkspaces: true
          recursive: true
          environment: all
      - name: Summary
        if: success() || failure()
        run: echo "${{ steps.audit.outputs.reportMarkdown }}" >> $GITHUB_STEP_SUMMARY

