name: Code check

on:
  workflow_call:
    inputs:
      affected:
        type: boolean
        required: false
        default: false
        description: Run test only on affective packages if true
      skipNxCache:
        type: boolean
        default: false
        required: false
        description: Skip the nx cache
      skipNxRemoteCache:
        type: boolean
        default: false
        required: false
        description: Skip the nx remote cache
    secrets:
      CODECOV_TOKEN:
        required: false
        description: Token Report to Codecov
      NX_CLOUD_ACCESS_TOKEN:
        required: false
        description: Token to access to nx cloud

env:
  NX_PARALLEL: ${{ vars.NX_PARALLEL }}
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
  NX_TASK_TARGET_CONFIGURATION: ci
  NX_SKIP_NX_CACHE: ${{ inputs.skipNxCache }}
  NX_SKIP_REMOTE_CACHE: ${{inputs.skipNxRemoteCache}}
  YARN_ENABLE_HARDENED_MODE: 0
  NODE_COMPILE_CACHE: ~/.cache/node-compile-cache

permissions:
  contents: read

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: gaurav-nelson/github-action-markdown-link-check@d53a906aa6b22b8979d33bc86170567e619495ec # v1.0.15
      with:
        base-branch: 'main'
        config-file: '.github/markdown-links.config.json'
        folder-path: 'packages/,apps/,tools/'

  test:
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJson(github.event_name != 'push' && '["ubuntu-latest", "windows-latest"]' || '["ubuntu-latest"]') }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: ${{ inputs.affected && '0' || '1' }}
      - name: Setup
        uses: ./tools/github-actions/setup
        timeout-minutes: 30
      - uses: ./.github/actions/setup-java
        with:
          install-jdk: 'true'
      - name: Cache Jest
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        env:
          hash: ${{ hashFiles('package.json', 'tsconfig.base.json', 'tsconfig.build.json', 'nx.json') }}
        with:
          path: .cache/jest
          key: ${{ runner.os }}-jest-${{ env.hash }}
          restore-keys: |
            ${{ runner.os }}-jest-${{ env.hash }}
            ${{ runner.os }}-jest
            ${{ runner.os }}
      - name: Build swagger generator
        run: yarn nx run ama-sdk-schematics:build-swagger
      - name: Test
        env:
          NX_BASE: ${{ format('remotes/origin/{0}', github.base_ref || github.ref_name) }}
          testCmd: ${{ inputs.affected && 'test:affected' || 'test'}}
          NODE_OPTIONS: ${{ runner.os == 'Windows' && '--max_old_space_size=4096' || '' }}
        run: yarn ${{ env.testCmd }} --collectCoverage --configuration=ci
      - name: Upload results to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          flags: unittests
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Upload test results to Codecov
        if: always()
        uses: codecov/test-results-action@0fa95f0e1eeaafde2c782583b36b28ad0d8c77d3 # v1.2.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Publish tests reports
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ut-reports-${{ matrix.os }}
          path: |
            apps/**/dist-test/junit.xml
            packages/**/dist-test/junit.xml
            tools/**/dist-test/junit.xml
      - run: yarn nx fix-ci
        if: always() && runner.os == 'Linux'
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: ${{ inputs.affected && '0' || '1' }}
      - name: Setup
        uses: ./tools/github-actions/setup
        timeout-minutes: 30
      - name: Cache Eslint
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        env:
          hash: ${{ hashFiles('yarn.lock') }}
        with:
          path: '**/.cache/eslint'
          key: ${{ runner.os }}-eslint-${{ env.hash }}
          restore-keys: |
            ${{ runner.os }}-eslint-${{ env.hash }}
            ${{ runner.os }}-eslint
            ${{ runner.os }}
      - name: Lint
        env:
          NX_BASE: ${{ format('remotes/origin/{0}', github.base_ref || github.ref_name) }}
          lintCmd: ${{ inputs.affected && 'lint:affected' || 'lint'}}
        run: yarn ${{ env.lintCmd }} --configuration ci
      - run: yarn nx fix-ci
        if: always()

  # Check that the packaging of github-actions is still working
  github-actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: ${{ inputs.affected && '0' || '1' }}
      - name: Setup
        uses: ./tools/github-actions/setup
        timeout-minutes: 30
      - name: Package github actions
        env:
          NX_BASE: ${{ format('remotes/origin/{0}', github.base_ref || github.ref_name) }}
          nxCmd: ${{ inputs.affected && 'nx affected' || 'nx run-many'}}
        run: yarn ${{ env.nxCmd }} --target=package-github-action

  prompt-registry:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./tools/github-actions/setup
      - uses: AmadeusITGroup/prompt-registry/github-actions/validate-collections@0ba11f3016ef7fadff6d5d887661c65daf8ddef8 # v0.0.29
