name: Build and deploy documentation

permissions:
  contents: read

on:
  workflow_call:
    inputs:
      version:
        type: string
        required: true
        description: Version to setup for the doc
      docFolder:
        type: string
        required: false
        description: Path for the generated doc folder
        default: './generated-doc'
      packageName:
        type: string
        required: false
        description: Name of the package for the documentation
        default: '@o3r/framework'
      artifactName:
        type: string
        required: false
        description: Name of the artifact for the documentation
        default: 'documentation'
      shouldDeploy:
        type: boolean
        required: false
        description: Should the documentation be deployed
        default: true
      skipNxCache:
        type: boolean
        default: false
        required: false
        description: Skip the nx cache
      skipNxRemoteCache:
        type: boolean
        default: false
        required: false
        description: Skip the nx remote cache

env:
  NX_SKIP_NX_CACHE: ${{ inputs.skipNxCache }}
  NX_SKIP_REMOTE_CACHE: ${{ inputs.skipNxRemoteCache }}


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: ./tools/github-actions/setup
        timeout-minutes: 30
      - name: Generate doc
        run: yarn doc:generate
      - name: Generate package json
        working-directory: ${{ inputs.docFolder }}
        run: yarn init -y
      - name: Update package json
        run: yarn update-package ${{ inputs.docFolder }}/package.json --name ${{ inputs.packageName }} --version ${{ inputs.version }}
      - run: zip -q -r ${{ inputs.artifactName }}.zip "${{ inputs.docFolder }}" -x "*/node_modules/*" ".cache/*"
        shell: bash
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ inputs.artifactName }}
          path: ${{ inputs.artifactName }}.zip
      - run: rm -f ${{ inputs.artifactName }}.zip
        shell: bash
  deploy-on-azure-static-webapp:
    if: ${{ inputs.shouldDeploy }}
    runs-on: ubuntu-latest
    needs: [build]
    environment:
      name: azure-static-webapp
      url: ${{ steps.deploy.outputs.static_web_app_url }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: ${{ inputs.artifactName }}
          path: '.'
      - run: unzip -q -n ${{ inputs.artifactName }}.zip
        shell: bash
      - run: rm -f ${{ inputs.artifactName }}.zip
        shell: bash
      - name: deploy
        id: deploy
        uses: Azure/static-web-apps-deploy@1a947af9992250f3bc2e68ad0754c0b0c11566c9 # v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: upload
          app_location: ${{ inputs.docFolder }}
          skip_app_build: true
          skip_api_build: true
          config_file_location: '.'
