name: Build and deploy documentation

permissions:
  contents: read

on:
  workflow_call:
    inputs:
      version:
        type: string
        required: true
        description: Version to setup for the doc
      docFolder:
        type: string
        required: false
        description: Path for the generated doc folder
        default: './generated-doc'
      packageName:
        type: string
        required: false
        description: Name of the package for the documentation
        default: '@o3r/framework'
      artifactName:
        type: string
        required: false
        description: Name of the artifact for the documentation
        default: 'documentation'
      shouldDeploy:
        type: boolean
        required: false
        description: Should the documentation be deployed
        default: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: ./tools/github-actions/setup
      - name: Generate doc
        run: yarn doc:generate
      - name: Generate package json
        working-directory: ${{ inputs.docFolder }}
        run: yarn init -y
      - name: Update package json
        run: yarn update-package ${{ inputs.docFolder }}/package.json --name ${{ inputs.packageName }} --version ${{ inputs.version }}
      - run: zip -q -r ${{ inputs.artifactName }}.zip "${{ inputs.docFolder }}" -x "*/node_modules/*" ".cache/*"
        shell: bash
      - uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
        with:
          name: ${{ inputs.artifactName }}
          path: ${{ inputs.artifactName }}.zip
      - run: rm -f ${{ inputs.artifactName }}.zip
        shell: bash
  deploy-on-azure-static-webapp:
    if: ${{ inputs.shouldDeploy }}
    runs-on: ubuntu-latest
    needs: [build]
    environment:
      name: azure-static-webapp
      url: ${{ steps.deploy.outputs.static_web_app_url }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/download-artifact@cc203385981b70ca67e1cc392babf9cc229d5806 # v4.1.9
        with:
          name: ${{ inputs.artifactName }}
          path: '.'
      - run: unzip -q -n ${{ inputs.artifactName }}.zip
        shell: bash
      - run: rm -f ${{ inputs.artifactName }}.zip
        shell: bash
      - name: deploy
        id: deploy
        uses: Azure/static-web-apps-deploy@1a947af9992250f3bc2e68ad0754c0b0c11566c9 # v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: upload
          app_location: ${{ inputs.docFolder }}
          skip_app_build: true
          skip_api_build: true
          config_file_location: '.'
