name: Main CI

concurrency:
  group: ci-${{ github.ref }}-main
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

permissions:
  contents: read

on:
  push:
    branches:
      - main
      - 'release/*'
  pull_request:
  merge_group:
    types: [checks_requested]

env:
  NX_PARALLEL: ${{ vars.NX_PARALLEL }}
  NX_TASK_TARGET_CONFIGURATION: ci
  YARN_ENABLE_HARDENED_MODE: 0
  NODE_COMPILE_CACHE: ~/.cache/node-compile-cache

jobs:
  # Check the integrity of yarn lock
  yarn_lock_check:
    permissions:
      contents: read
      # Needed to write yarn warnings in pull request
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    env:
      NX_SKIP_NX_CACHE: true
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          # Fetch 2 is needed to properly check if the yarn.lock is affected by a pull-request
          fetch-depth: 2
      - uses: ./tools/github-actions/setup
        timeout-minutes: 30
        env:
          YARN_ENABLE_HARDENED_MODE: 1
      - name: Yarn errors reporter
        if: github.event_name == 'pull_request'
        uses: ./tools/github-actions/yarn-errors-reporter
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build:
    runs-on: ubuntu-latest
    needs: [yarn_lock_check]
    env:
      NX_SKIP_NX_CACHE: ${{ vars.NX_SKIP_NX_CACHE == 'true' || github.event_name == 'push' && startsWith(github.ref, 'refs/heads/release') && !endsWith(github.ref, '-next') }}
      NX_SKIP_REMOTE_CACHE: ${{ vars.NX_SKIP_REMOTE_CACHE || (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'skipRemoteCache')) }}
      NODE_COMPILE_CACHE: ~/.cache/node-compilation
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: ./tools/github-actions/setup
        timeout-minutes: 30
      - uses: ./.github/actions/setup-java
        with:
          install-jdk: 'true'
      - name: Cache Node Compile
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ${{env.NODE_COMPILE_CACHE}}
          key: ${{ runner.os }}-node-compile-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-compile
      - run: yarn build
      - uses: ./tools/github-actions/upload-build-output

  version:
    permissions:
      # Needed to publish release on GitHub
      contents: write
    runs-on: ubuntu-latest
    needs: [yarn_lock_check]
    outputs:
      nextVersionTag: ${{ steps.newVersion.outputs.nextVersionTag }}
      isPreRelease: ${{ contains( steps.newVersion.outputs.nextVersionTag, '-' ) || github.event_name == 'pull_request' || github.event_name == 'merge_group'}}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22
      - name: New Version
        if: github.event_name != 'merge_group'
        id: newVersion
        uses: ./tools/github-actions/new-version
        with:
          defaultBranch: main
          defaultBranchPrereleaseName: prerelease
          releaseBranchRegExp: 'release\/(0|[1-9]\d*)\.(0|[1-9]\d*)(\.0-(?:next|prerelease|rc))?$'
      - name: Create release
        if: github.event_name != 'pull_request' && github.event_name != 'merge_group'
        uses: ./tools/github-actions/release
        with:
          version: ${{ steps.newVersion.outputs.nextVersionTag }}
          target: ${{ github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  checks:
    uses: ./.github/workflows/code-check.yml
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    needs: [yarn_lock_check]
    with:
      affected: ${{ github.event_name == 'pull_request' }}
      skipNxCache: ${{ vars.NX_SKIP_NX_CACHE == 'true' || github.event_name == 'push' && startsWith(github.ref, 'refs/heads/release') && !endsWith(github.ref, '-next') }}
      skipNxRemoteCache: ${{ vars.NX_SKIP_REMOTE_CACHE == 'true' || (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'skipRemoteCache')) }}

  it-tests:
    uses: ./.github/workflows/it-tests.yml
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    needs: [yarn_lock_check, build]
    with:
      skipNxCache: ${{ vars.NX_SKIP_NX_CACHE == 'true' || github.event_name == 'push' && startsWith(github.ref, 'refs/heads/release') && !endsWith(github.ref, '-next') }}
      skipNxRemoteCache: ${{ vars.NX_SKIP_REMOTE_CACHE == 'true' || (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'skipRemoteCache')) }}

  e2e-tests:
    permissions:
      contents: write
      issues: write
      pull-requests: write
    uses: ./.github/workflows/e2e-tests.yml
    needs: [yarn_lock_check, build]
    with:
      skipNxCache: ${{ vars.NX_SKIP_NX_CACHE == 'true' || github.event_name == 'push' && startsWith(github.ref, 'refs/heads/release') && !endsWith(github.ref, '-next') }}
      skipNxRemoteCache: ${{ vars.NX_SKIP_REMOTE_CACHE == 'true' || (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'skipRemoteCache')) }}

  publish-packages:
    uses: ./.github/workflows/publish.yml
    if: ${{ github.event_name != 'pull_request' && github.event_name != 'merge_group' }}
    permissions:
      contents: read
      # Needed to publish on npmjs registry
      id-token: write
    secrets: inherit
    needs: [yarn_lock_check, version, build, checks, it-tests]
    with:
      version: ${{ needs.version.outputs.nextVersionTag }}
      prerelease: ${{ needs.version.outputs.isPreRelease == 'true' }}
      isPullRequest: false
      skipNxCache: ${{ vars.NX_SKIP_NX_CACHE == 'true' || github.event_name == 'push' && startsWith(github.ref, 'refs/heads/release') && !endsWith(github.ref, '-next') }}
      skipNxRemoteCache: ${{ vars.NX_SKIP_REMOTE_CACHE == 'true' }}

  documentation-main:
    secrets: inherit
    needs: [yarn_lock_check, version, build, checks]
    if: ${{ github.event_name != 'pull_request' && github.event_name != 'merge_group' && github.ref_name == 'main' }}
    uses: ./.github/workflows/documentation.yml
    with:
      version: ${{ needs.version.outputs.nextVersionTag }}
      skipNxCache: ${{ vars.NX_SKIP_NX_CACHE == 'true' }}
      skipNxRemoteCache: ${{ vars.NX_SKIP_REMOTE_CACHE == 'true' }}
  documentation-pr:
    secrets: inherit
    needs: [yarn_lock_check, version]
    if: ${{ (github.event_name == 'pull_request' && github.base_ref == 'main') || github.event_name == 'merge_group' }}
    uses: ./.github/workflows/documentation.yml
    with:
      version: ${{ needs.version.outputs.nextVersionTag }}
      shouldDeploy: false
      skipNxCache: ${{ vars.NX_SKIP_NX_CACHE == 'true' }}
      skipNxRemoteCache: ${{ vars.NX_SKIP_REMOTE_CACHE == 'true' || (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'skipRemoteCache')) }}
