name: Check external links
on:
  workflow_dispatch:
  schedule:
    - cron: "20 4 * * 1"
permissions:
  contents: read
  issues: write
jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - uses: gaurav-nelson/github-action-markdown-link-check@d53a906aa6b22b8979d33bc86170567e619495ec # v1.0.15
        with:
          use-quiet-mode: 'yes'
          base-branch: 'main'
          config-file: '.github/markdown-external-links.config.json'
  open-issue:
    runs-on: ubuntu-latest
    needs: [markdown-link-check]
    if: failure()
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - name: Create an issue
        uses: JasonEtco/create-an-issue@1b14a70e4d8dc185e5cc76d3bec9eab20257b2c5 # v2.9.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RUN_URL: ${{ format('https://github.com/{0}/actions/runs/{1}/attempts/{2}', github.repository, github.run_id, github.run_attempt || 1) }}
        with:
          filename: .github/markdown-check-issue-template.md
          update_existing: true

