name: Pull Request Label

on: pull_request

permissions:
  contents: read

jobs:
  setup-label:
    runs-on: ubuntu-latest
    env:
      SKIP_ON_LABELS: '["cascading"]'
      NODE_COMPILE_CACHE: ~/.cache/node-compile-cache
    permissions:
      pull-requests: write
      issues: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - name: Setup
        uses: ./tools/github-actions/setup
        timeout-minutes: 30
      - name: Determine labels
        run: |
          LABELS="$(yarn pr-labels --target="${{ github.base_ref || github.ref_name }}")"
          echo "LABELS=$LABELS" >> $GITHUB_ENV
      - uses: actions/github-script@f28e40c7f34bde8b3046d885e986cb6290c5673b # v7.1.0
        if: env.LABELS != '[]'
        continue-on-error: true
        with:
          script: |
            const [owner, repo] = '${{ github.repository }}'.split('/');
            const pLabels = github.rest.issues.listLabelsOnIssue({
              owner,
              repo,
              issue_number: context.issue.number
            });

            return pLabels.then((labels) => {
              const skipLabelUpdate = labels.data.some(({ name }) => ${{ env.SKIP_ON_LABELS }}.includes(name));

              if (skipLabelUpdate) {
                github.log.info('Skip label setting for this Pull Request.');
                return ;
              }

              return github.rest.issues.addLabels({
                owner,
                repo,
                issue_number: context.issue.number,
                labels: ${{ env.LABELS }}
              });
            });
