name: Publish Packages

on:
  workflow_call:
    inputs:
      version:
        type: string
        required: true
        description: Version of the artifact to publish
      prerelease:
        type: boolean
        default: false
        required: false
        description: Version of the artifact to publish
      isPullRequest:
        type: boolean
        default: ${{ github.event_name == 'pull_request' }}
        required: false
      skipNxCache:
        type: boolean
        default: false
        required: false
        description: Skip the nx cache
      skipNxRemoteCache:
        type: boolean
        default: false
        required: false
        description: Skip the nx remote cache
      gitRef:
        type: string
        default: ''
        required: false
        description: Checkout a specific git ref
    secrets:
      AZURE_VSC_EXT_TOKEN:
        required: false
        description: Token to publish Visual Studio Code extension
      NPM_TOKEN:
        required: false
        description: PAT to publish on npmjs.org
      AZURE_AUTH_TOKEN:
        required: false
        description: Token of the user publishing on Azure Feeds for PR Artifacts
      AZURE_USERNAME:
        required: false
        description: Name of the user publishing on Azure Feeds for PR Artifacts
      AZURE_EMAIL:
        required: false
        description: Email of the user publishing on Azure Feeds for PR Artifacts
      CASCADING_AZURE_APP_PUBLISH_PROFILE:
        required: false
        description: Profile authentication to publish the Cascading Application

env:
  NX_SKIP_NX_CACHE: ${{ inputs.skipNxCache }}
  NX_SKIP_REMOTE_CACHE: ${{ inputs.skipNxRemoteCache }}

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: ${{inputs.isPullRequest && 'development' || 'production'}}
    permissions:
      contents: read
      # Needed to publish on npmjs registry
      id-token: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 2
          ref: ${{ inputs.gitRef }}
      - uses: ./tools/github-actions/download-build-output
      - uses: ./tools/github-actions/setup
        timeout-minutes: 30
      - run: yarn set:version ${{ inputs.version }}
      - name: Get tag name
        id: get-npm-tag
        uses: ./tools/github-actions/get-npm-tag
        with:
          is-prerelease: ${{ inputs.prerelease }}
          version: ${{ inputs.version }}
      - name: Publish
        run: yarn run publish --tag=${{ inputs.isPullRequest && 'pr' || steps.get-npm-tag.outputs.tag }} ${{ inputs.isPullRequest && '--userconfig=./.npmrc.pr' || ''}}
        env:
          GITHUB_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AZURE_AUTH_TOKEN: ${{ secrets.AZURE_AUTH_TOKEN }}
          AZURE_USERNAME: ${{ secrets.AZURE_USERNAME }}
          AZURE_EMAIL: ${{ secrets.AZURE_EMAIL }}

  publish-cascading:
    if: '!inputs.isPullRequest'
    runs-on: ubuntu-latest
    env:
      APP_PATH: 'apps/github-cascading-app/dist'
    environment: 'cascading-app'
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 2
      - uses: ./tools/github-actions/download-build-output
      - uses: ./tools/github-actions/setup
        timeout-minutes: 30
      - run: yarn set:version ${{ inputs.version }}
      - name: Get tag name
        id: get-npm-tag
        uses: ./tools/github-actions/get-npm-tag
        with:
          is-prerelease: ${{ inputs.prerelease }}
          version: ${{ inputs.version }}
      - name: 'NPM install locally'
        run: |
          pushd './${{env.APP_PATH}}'
          npm install
          popd
      - name: 'Publish Cascading Azure Functions'
        env:
          PUBLISH_PROFILE: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_8996AC226FB9456EA73A6B8439B12946 || secrets.CASCADING_AZURE_APP_PUBLISH_PROFILE }}
        if: env.PUBLISH_PROFILE != null && (github.base_ref == 'main' || github.ref_name == 'main')
        uses: Azure/functions-action@0bd707f87c0b6385742bab336c74e1afc61f6369 # v1.5.3
        with:
          app-name: 'github-cascading'
          slot-name: 'production'
          package: './${{env.APP_PATH}}'
          publish-profile: ${{ env.PUBLISH_PROFILE }}

  publish-extensions:
    runs-on: ubuntu-latest
    environment: ${{inputs.isPullRequest && 'development' || 'production'}}
    needs: [publish]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 2
      - uses: ./tools/github-actions/download-build-output
      - uses: ./tools/github-actions/setup
        timeout-minutes: 30
      - run: yarn set:version ${{ inputs.version }}
      - name: Publish Extensions
        if: '!inputs.prerelease'
        run: yarn run publish:extensions
        env:
          NX_BASE: HEAD~1
          VSCE_PAT: ${{ secrets.AZURE_VSC_EXT_TOKEN }}
          CHROME_CLIENT_ID: ${{ secrets.CHROME_CLIENT_ID }}
          CHROME_EXT_ID: ${{ secrets.CHROME_EXT_ID }}
          CHROME_REFRESH_TOKEN: ${{ secrets.CHROME_REFRESH_TOKEN }}
      - name: Expose Chrome extension artifact
        if: (success() || failure()) && !inputs.prerelease
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: chrome-extension
          path: apps/chrome-devtools/chrome-extension.zip
