name: Test publish

on:
  workflow_call:
    inputs:
      skipNxCache:
        type: boolean
        default: false
        required: false
        description: Skip the nx cache
    secrets:
      NX_CLOUD_ACCESS_TOKEN:
        required: false
        description: Token to use Nx Cloud token

env:
  NX_SKIP_NX_CACHE: ${{ inputs.skipNxCache }}
  
jobs:
  test-publish:
    runs-on: ubuntu-latest
    env:
      NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - uses: ./tools/github-actions/download-build-output
      - uses: ./tools/github-actions/setup
      - uses: ./.github/actions/setup-java
        with:
          install-jdk: 'true'
      - name: Get current month to build the cache key
        run: echo "currentMonth=$(date +'%Y-%m')" >> $GITHUB_ENV
        shell: bash
      - name: Cache test-app yarn
        uses: actions/cache@v3
        with:
          path: |
            .cache/test-app
            !.cache/test-app/@ama-sdk*
            !.cache/test-app/@ama-terasu*
            !.cache/test-app/@o3r*
          key: ${{ runner.os }}-test-app-yarn3-${{ env.currentMonth }}
      - name: Cache test-sdk yarn
        uses: actions/cache@v3
        with:
          path: |
            .cache/test-sdk
            !.cache/test-sdk/@ama-sdk*
            !.cache/test-sdk/@ama-terasu*
            !.cache/test-sdk/@o3r*
          key: ${{ runner.os }}-test-sdk-yarn3-${{ env.currentMonth }}
      - name: Setup verdaccio once for all tests
        id: setup-verdaccio
        run: |
          mkdir ./.verdaccio/storage
          chmod a+rwx -R ./.verdaccio/storage
          yarn verdaccio:start-persistent
          yarn verdaccio:publish
      - name: Test
        id: it-tests
        run: yarn test-int --output-style=stream
      - name: Zip verdaccio storage on failure
        if: failure() && (steps.setup-verdaccio.conclusion == 'failure' || steps.it-tests.conclusion == 'failure')
        run: zip -r verdaccio.zip ./.verdaccio
      - name: Zip generated app on failure
        if: failure() && steps.it-tests.conclusion == 'failure'
        run: |
          mkdir -p ./otter
          cp -R ./.cache ./otter/.cache
          zip -r it-tests.zip ../it-tests ./otter/.cache -x "./otter/.cache/nx/*"
      - name: Publish verdaccio storage on failure
        if: failure() && (steps.setup-verdaccio.conclusion == 'failure' || steps.it-tests.conclusion == 'failure')
        uses: actions/upload-artifact@v3
        with:
          name: verdaccio
          path: verdaccio.zip
      - name: Publish generated tests environment on failure
        if: failure() && steps.it-tests.conclusion == 'failure'
        uses: actions/upload-artifact@v3
        with:
          name: it-tests
          path: it-tests.zip
      - name: Stop verdaccio
        if: always()
        run: yarn verdaccio:stop
