name: Tests reports

on:
  workflow_run:
    workflows: ['Main CI']
    types:
      - completed

jobs:
  publish-ut-reports:
    runs-on: ubuntu-latest
    steps:
      - uses: dorny/test-reporter@eaa763f6ffc21c7a37837f56cd5f9737f27fc6c8 # v1.8.0
        with:
          artifact: /ut-reports(.*)/
          name: UT Tests report$1
          path: '**/*.xml'
          reporter: jest-junit

  publish-it-reports:
    runs-on: ubuntu-latest
    steps:
      - uses: dorny/test-reporter@eaa763f6ffc21c7a37837f56cd5f9737f27fc6c8 # v1.8.0
        with:
          artifact: /it-reports(.*)/
          name: IT Tests report$1
          path: '**/*.xml'
          reporter: jest-junit
