name: Tests reports

on:
  workflow_run:
    workflows: ['Main CI']
    types:
      - completed

permissions: read-all

jobs:
  publish-ut-reports:
    runs-on: ubuntu-latest
    permissions:
      # Required to publish Unit Test Report to the pipeline execution result
      checks: write
    steps:
      - uses: dorny/test-reporter@b082adf0eced0765477756c2a610396589b8c637 # v2.5.0
        with:
          artifact: /ut-reports(.*)/
          name: UT Tests report$1
          path: '**/*.xml'
          reporter: jest-junit

  publish-it-reports:
    runs-on: ubuntu-latest
    permissions:
      # Required to publish Integration Test Report to the pipeline execution result
      checks: write
    steps:
      - uses: dorny/test-reporter@b082adf0eced0765477756c2a610396589b8c637 # v2.5.0
        with:
          artifact: /it-reports(.*)/
          name: IT Tests report$1
          path: '**/*.xml'
          reporter: jest-junit
